[MASTER]
load-plugins = pylint.extensions.docparams

[MESSAGES CONTROL]
disable = missing-module-docstring,
          too-few-public-methods,
          too-many-arguments,
          too-many-locals,
          line-too-long,
          duplicate-code

[FORMAT]
max-line-length = 88

[DESIGN]
max-attributes = 10
max-args = 8 